<%- include ('../partials/head.ejs') -%>
<link rel="stylesheet" href="/css/homepage.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">

<% if (message) { %>
    <div class="message"><%= message %></div>
<% } %>
<!-- <img src="homepagepic.jpg"/> -->
<div class="articles">
    <% blogs.forEach(blog=>{%>
        <div class="single-article">
            <a href="/editarticle/<%= blog._id %>">
                <div class="article">
                    <h2><%= blog.title %></h2><br/>
                    <strong><%= blog.entry.substring(1, 200) + "..." %></strong><br/>
                </div>
            </a>
            <div class="name">
                <a href="/profilepage/<%= blog.owner._id%>"><small>by-<%= blog.owner.name%></small></a>
            </div>
        </div>
        <% }) %>
</div>

    <%- include ('../partials/footer.ejs') -%>

<script>
        //message
      $('.message').delay(4000).fadeOut();

</script>